@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Nº Série</th>
            <th>Preco(€)</th>
            <th>Categoria</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="myTable">
        <tr>
            <td>PlacaMãe Micro-ATX B550M PRO-VDH SktAM4 MSI</td>
            <td>Descrição sucinta do produto</td>
            <td>12345</td>
            <td>99,99</td>
            <td>PlacaMãe</td>
            <td>
                <button class="btn">Edit</button>
                <button class="btn">Eliminar</button>
                <button class="btn">Ajuda</button>
            </td>
        </tr>
    </table>
    <div class="container card">
        <div class="row">
            <div class="col">
                <img src="" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>