@{
    ViewData["Title"] = "Localização";
    ViewData["Coords"] = "bbox=-8.493515253067018%2C40.220559632193776%2C-8.479353189468386%2C40.2277191990068&amp;layer=mapnik&amp;marker=40.22413951018532%2C-8.4864342212677";
}

<div class="text-center">
    <div class="card">
        <iframe height="640" src="https://www.openstreetmap.org/export/embed.html?@ViewData["Coords"]"></iframe>
    </div>
</div>